* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: myFirstFont;
    src: url("../assets/Aquire/Aquire-Light.otf");
}
:root {
    --green: #30af62;
    --red: #ea4c89;
}
.row {
    margin: 0 !important;
}
.scrollspy-example-2 {
    padding: 0px 10px 0px 10px;
}
.main {
    width: 100%;
    height: 100vh;
    background: #000;
}
.menu,
.content {
    padding: 0;
    padding-top: 30px;
    color: #fff;
}
.sign,
form,
.stocks {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1 {
    font-size: 50px;
    font-weight: 300;
    margin: 0;
}
.sign h1 {
    margin-bottom: 20px;
}
label,
input {
    width: 100%;
}
input {
    height: 30px;
    border: none;
    border-bottom: 1px solid white;
    background: transparent;
    color: white;
    font-size: 20px;
    margin-bottom: 30px;
}
#submit {
    background: #fff;
    color: #000;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    padding: 5px 10px;
    margin-bottom: 10vh;
}
#signInfoB {
    background-color: transparent;
    border: none;
    color: white;
    opacity: 1;
    text-decoration: underline;
}
#signInfoP {
    font-weight: 100;
    opacity: 0.8;
    margin-right: 5px;
}
.form-type {
    display: flex;
    align-items: baseline;
}
.hidden {
    display: none;
}
.header h1,
.header p {
    font-family: myFirstFont !important;
}
.logos p {
    opacity: 0.7;
}
.logos span {
    color: red;
    opacity: 1;
    font-weight: bolder;
}
/* ********************* main *********************  */
.slide-track {
    width: 100%;
    height: 15vh;
    background: #000;
    display: flex;
    overflow-y: hidden;
}
.slide {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
}
.slide img {
    /* object-fit: cover; */
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
}
.drop-section {
    width: 70%;
    height: 40vh;
    background: #000;
    border-radius: 8px;
    border: 1px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    margin: 30px auto;
}
.drop-section h2 {
    opacity: 0.8;
    width: 100%;
    text-align: center;
    pointer-events: none;
}
.drop-section svg {
    width: 22px;
    height: 22px;
    pointer-events: none;
}
.drop-section img {
    width: 100px;
}
.data-button {
    width: 80%;
    display: flex;
    flex-direction: row-reverse;
}
.data-button button {
    background: #fff;
    color: #000;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    cursor: no-drop;
    padding: 5px 10px;
    margin-bottom: 8vh;
    opacity: 0.2;
}

/******************** second section ***************/
.stocks,
.stock-graphic,
.graphic-header,
.info,
.showdata-option,
.date-info,
.stocks-info,
.stock-card,
.stock-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.stocks {
    width: 100%;
    height: 100vh;
    background-color: #000;
    align-content: space-evenly;
}
.stock-graphic {
    width: 60%;
    height: 80%;
    border: 1px solid gray;
    border-radius: 16px;
    padding: 12px;
    align-content: space-around;
}
.graphic-header {
    height: 40%;
    width: 100%;
}
.info {
    width: 50%;
    justify-content: space-around;
}
.showdata-option {
    width: 50%;
}
.showdata-option select,
.date-info button {
    padding: 8px 14px;
    color: #fff;
    background-color: transparent;
    border: 1px solid grey;
    border-radius: 6px;
    cursor: pointer;
}
.showdata-option option {
    color: #000;
}
.date-info {
    justify-content: space-evenly;
    border-top: 1px solid grey;
    width: 80%;
    padding: 10px;
}

.graphic {
    width: 90%;
    height: 50%;
    background-color: aqua;
}

.stocks-info {
    width: 35%;
    height: 80%;
    border: 1px solid gray;
    border-radius: 16px;
    padding: 7px;
    align-content: space-around;
    align-content: baseline;
}
.info-title {
    height: 90px;
    width: 100%;
    border-bottom: 1px solid gray;
    padding: 7px;
}
.stock-cards {
    width: 100%;
    height: 80%;
}
.stock-card {
    width: 90%;
    height: 15%;
    min-height: 70px;
    /* border: 1px solid gray; */
    padding: 7px;
    align-content: space-around;
    justify-content: space-between;
}
.stock-card .pic {
    height: 80%;
    width: 35%;
}
.stock-card img {
    height: 100%;
}
.stock-card p {
    margin: 0 !important;
}
